<div class="container">
<p> Invoice page </p>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Employee Name</th>
      <th scope="col">Unit Price</th>
      <th scope="col">Total hours</th>
      <th scope="col">Cost</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>

  </tbody>
</table>
</div>