<div class="container mt-3" > 
<h5 class="title m-2 " style="float: right"> <%= link_to 'Create Timesheet', new_timesheet_path %> </h5>
 
 <p> Click on your name to see your timesheet for a specific project </p>
 <% @timesheet.each do |lawyer| %>
 <% @project.each do |project| %>
 <%if lawyer.id == project.id%>
<div class="card m-2" style="width: 15rem;">
    <p class="card-title pl-2 pt-2">
    <%= link_to lawyer.firstname+ ' ' +lawyer.lastname, lawyer%> ---
    <%=project.company%>
    </p>
</div>

<% end %>

<% end %>
<% end %>

</div>

